.container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    background-color: #ff64de;
    border: #f019c1;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 25px;

}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
}

.card-title {

    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.result {
    background-color: aquamarine;
    border: #ff64de;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}